* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.page-content {
    max-width: 1600px;
    width: 100%;

}

/* ==========Header=================== */
.header-row {
    height: 50px;
    color: white;
    display: flex;
    background-color: rgb(57, 57, 229)
}

.header-row__city {
    display: flex;
    align-items: center;
    padding: 7px;
}

.header__geo-city {
    height: 30px;
    display: inline;
}

.header-row__mail {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 7px;
}
.header-row__mail p {
    margin-left: 5%;
}

.header__send-mail {
    height: 30px;
    display: inline;
}

.header-row__phone {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header__phone {
    margin-right: 5px;
    height: 30px;
}

.company_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company_name__logo {
    color: blue;
    display: flex;
    align-items: center;
}

.company_name__logo h1 {
    font-size: 40px;
    margin-top: 20px;
}

.header-company_name__logo {
    height: 70px;
    margin: 20px 10px 0px 40px;
} 

.lk_login__link {
    text-decoration: none;
}

/* =============Navigation================ */
.nav {
    margin-top: 3%;
}

.nav__item {
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    margin-left: 10%;
}

.nav_images {
    margin-top: 3%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.nav_images__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20px;
}

.image_text {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.catalog_images {
    height: 340px;
    width: 100%;
    transition: transform 0.3s;
}

.catalog_images:hover {
    transform: scale(1.1);
}

/* =========MAIN Выгода======= */

.advantage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 2% auto;
}

.advantege {
    flex-basis: calc(33.33% - 10px);
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    transition: border 0.3s;
}

.advantege:hover {
    border-radius: 5px;
    background-color: rgb(57, 57, 229);
}

.price {
    display: flex;
    align-items: center;
}

.price__img {
    margin-right: 8%;
    width: 25%;
    height: 25%;
    /* max-width: 100%; */
    /* height: 100px; */
}

/* ===========SPECIAL OFFER============= */

.special h2 {
    text-align: center;
}

.special-offer {
    display: inline-flex;
    margin-left: 7%;
    width: 100%;
    height: 400px;
    align-items: center;
}


.special-offer__img {
    height: 80%;
    transition: transform 0.3s;

}

.special-offer__img:hover {
    transform: scale(1.1);
}

.special-offer__data {
    text-align: center;
}

.special-offer__desc {
    width: 60%;
    margin: 2% 0 2% 6%;
    
    text-align: center;
}

/* =================PARTNERS============== */
.partners h2 {
    text-align: center;
}

.partners__list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.partners__item {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 10%;
}

.partner__logo {
    height: 40px;
}

/* ==============CLIENTS================ */

.clients {
    margin-top: 2%;
}

.clients h2 {
    text-align: center;
}

.client__list {
    display: flex;
    margin-top: 3%;
}

.client__item {
    margin-left: 10px;
}

.client__photo {
    height: 50%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}

/* =============FOOTER================ */

.footer {
    margin-top: 2%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.services {
    margin-top: 3%;
}



.services__items {
    display: block;
    text-decoration: none;
    color: black;
}

.services__items_main {
    color: black;
    text-decoration: none;
    
}

.for_bussines {
    margin-top: 15%;
}



